header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("file:///Users/aronochsner/Library/Mobile%20Documents/com~apple~CloudDocs/Projects/Arts%20and%20Crafts%20Store/Resources/Images/pattern.jpeg");
}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h3 {
    font-family: Helvetica;
    
}
p {
    display: inline;
}
.price {
    display: inline;
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
#brush {
    background-color: mediumspringgreen;
}
#frame {
    background-color: lightcoral;
}
#paint {
    background-color: lightblue;
}